/.idea/.idea.Unity-CignalRP/.idea/*.gitignore
/.idea/.idea.Unity-CignalRP/.idea/*.xml
/.vs/Unity-CignalRP/v16/*.suo
/*.vsconfig
/*.csproj
/.idea
/.vs
/Library
/Logs
/obj
/Packages
/Temp
/.vsconfig
/Assembly-CSharp.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/Unity-CignalRP.sln
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Runtime.Player.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.Player.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Config.Runtime.Player.csproj
/Unity.RenderPipelines.HighDefinition.Editor.csproj
/Unity.RenderPipelines.HighDefinition.Editor.Tests.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Player.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Tests.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Tests.Player.csproj
/Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.Universal.Editor.Tests.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
/Unity.RenderPipelines.Universal.Runtime.Tests.Player.csproj
/Unity.RenderPipelines.Universal.Shaders.csproj
/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Editor.Tests.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.VisualEffectGraph.Editor.csproj
/Unity.VisualEffectGraph.Editor.Tests.csproj
/Unity.VisualEffectGraph.Runtime.csproj
/Unity.VisualEffectGraph.Runtime.Player.csproj
/Unity.VisualEffectGraph.Runtime.Tests.csproj
/UnityEditor.UI.EditorTests.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.Player.csproj
/UnityEngine.UI.Tests.csproj
/*.sln
/ProjectSettings/ProjectVersion.txt
/app.config
/packages.config
